.review-input {
  margin-top: 10px;
  height: 100px;
  width: 300px;
  margin-bottom: 10px;
}

.name-input {
  width: 230px;
  margin-left: 10px;
}

.rev-edit {
  background-color: #a78573;
  border-radius: 20px;
  color: #ffffff;
  box-shadow: 2px 2px 4px grey;
}

.rev-delete {
  background-color: #a78573;
  border-radius: 20px;
  color: #ffffff;
  box-shadow: 2px 2px 4px grey;
}

.new-rev {
  background-color: #a78573;
  border-radius: 20px;
  color: #ffffff;
  box-shadow: 2px 2px 4px grey;
}
