.yotw {
  font-family: “Chalkduster”, fantasy;
  text-shadow: 1px 1px #a78573;
}

.flav-name {
  font-family: “Chalkduster”, fantasy;
  text-shadow: 1px 1px #a78573;
}

.ingred {
  font-family: “Chalkduster”, fantasy;
  text-shadow: 1px 1px #a78573;
}
